.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: lawngreen;
  position: relative;
  animation-name: demo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes demo {
  0% {
    background-color: lawngreen;
    left: 0;
    top: 0;
  }
  18% {
    background-color: yellow;
    left: 100px;
    top: 100px;
  }
  38% {
    background-color: blue;
    left: 200px;
    top: 0;
  }
  48% {
    background-color: red;
    left: 200px;
    top: 100px;
  }
  58% {
    background-color: aquamarine;
    left: 100px;
    top: 0;
  }
  75% {
    background-color: burlywood;
    left: 0;
    top: 100px;
  }
  100% {
    background-color: lawngreen;
    left: 0;
    top: 0;
  }
}
