body {
    background-color: #121212;
    color: #ffffff;
}

.hero img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}



.navbar .nav-link {
    color: #ccc;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #fff;
    font-weight: 500;
}

@media (max-width: 768px) {
    .hero img {
        max-height: 300px;
        margin-top: 20px;
    }
}

.team-section .card {
    background-color: #1e1e1e;
    border: none;
}

.team-section img {
    object-fit: cover;
}

.hero {
  background: url('https://images.unsplash.com/photo-1530882548122-0596ee66cdfd') no-repeat 70% center/cover;
  position: relative;
  min-height: 100vh;
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* dark overlay */
    z-index: 1;
}

.hero .container {
    z-index: 2;
    position: relative;
}

.hero h1,
.hero p {
    color: #ffffff;
}

.carousel-section img {
  height: 500px;
  object-fit: cover;
}

.carousel-inner {
  border-radius: 20px;
  overflow: hidden;
}

