*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

ul li{
    background-color: chocolate;
}

ul li{
    list-style: none;
    float: left;
    display: block;
    padding: 10px;
}

ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

ul ul {
    display: none;
}

ul ul li {
    background-color: burlywood;
    float: none;
}

ul li:hover ul{
    display: block;
}
