* {
    margin: 0;
    padding: 0;
}

/* 
h1 {
    margin: 60px 15px 0;
    padding-left: 10px;
} */

/* .box {
    width: 360px;
    /* background-color: black; */
/* height: 200px; */
/* display: flex; */
/* margin: auto; */
/* padding: 10px; */
/* gap: 20px; */
/* transition: 1s; */
/* } */
/* 
.box img {
    display: block;
} */


/* .box:hover { */
/* transform: rotateX(90deg);
    transform: rotateY(90deg);
    transform: rotate(360deg); */

/* transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2); */

/* transform: skewX(90deg);
    transform: skewY(90deg);
    transform: skew(90deg); */

/* transform: translateX(50px); */
/* transform: translateY(50px); */
/* transform: translate(50px, 100px); */

/* filter: blur(2px);
    filter: brightness(2);
    filter: contrast(2);
    filter: grayscale(2);
    opacity: 50%;
    opacity: 0.5; */
/* } */

.box {
    margin-bottom: 20px;
}

.w-1140 {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.w-1140 img {
    transition: 1s;
}

.name {
    margin-left: 70px;
}


.w-380 img {
    width: 100%;
    display: block;
    transition: 1s;

}

/* 1. Zoom In #1 */

.img-1 {
    display: block;
    overflow: hidden;
}

.img-1:hover img {
    transform: scale(1.5);
    transition: 0.8s;
}

/*  2. Zoom In #2 */

.img-2 {
    display: block;
    overflow: hidden;
}

.img-2:hover img {
    width: 105%;
    transition: 1s;
}

/* 11. Opacity #1 */
.img-11{
    display: block;
    overflow: hidden;
}

.img-11:hover img{
    opacity: 0.5;
}


/* 12. Opacity #2 */
.img-12{
    display: block;
    overflow: hidden;
    background-color: aquamarine;
}
.img-12 img{
    filter: opacity(1);
}
.img-12 img:hover{
   filter: opacity(0.5);
}

