*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.w-100{
    width: 100%;
    height: 50px;
    background-color: #003366;
    line-height: 50px;
}

.w-1140{
    width: 1140px;
    margin: auto;
    height: 50px;
    color: white;
}

.w-33{
    width: 33.33%;
    float: left;
    font-size: 15px;
}

.option{
    float: left;
    padding-left: 105px;
}

.social{
    width: 33.33%;
    float: right;
}
