.box {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    background-color: red;
    animation-name: demo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes demo {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}