*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1140px;
    margin: auto;
    padding: 40px;
    display: flex;
}

.test-side h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.test-side p{
    font-size: 18px;
    margin-bottom: 30px;
}

.test-side a{
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 10px;   
}


.img-side img{
    width: 400px;
}


.img-side{
    position: absolute;
}

.front{
    padding-left: 40px;
    position: relative;
}

.back{
    position: relative;
}