/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #ffffff;
  color: #000;
}

/* Logo Style */
.logo {
  font-size: 30px;
  font-weight: 700;
}

/* Navigation Links */
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links ul li:hover {
  color: #ff5722;
}

/* Book Table Button */
.btn {
  background-color: #ff5722;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.active {
  color: #e64a19;
}
.btn:hover {
  background-color: #e64a19;
}

/* Responsive - hide nav links on mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

/* Hero section start */
.hero-container {
  width: 100%;
  height: 90vh;
  background: url("../public/hero2.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 600px;
  padding: 20px;
}

.hero-title {
  font-size: 60px;
  font-weight: 600 !important;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 20px;
  color: gray;
  margin-bottom: 30px;
}

.hero-btn {
  margin-top: 20px !important;
  background-color: #ff5722 !important;
  padding: 8px 20px !important;
  border-radius: 25px !important;
  text-transform: none !important;
  font-size: 14px !important;
}

.hero-btn:hover {
  background-color: #e64a19 !important;
}
/* Hero section end */

/* ABOUT SECTION */
.about-container {
  width: 90%;

  margin: 60px auto;
}

.about-text {
  margin-bottom: 40px;
}

.about-text h1 {
  margin-bottom: 15px;
  color: #e64a19;
}

.about-imgs {
  display: flex;
  gap: 20px;
}

.about-imgs img {
  width: 33%;
  height: 500px;
  border-radius: 10px;
}

/* ABOUT SECTION END */

/* CHEF CONTAINER */
.chef-container {
  padding: 40px;
  position: relative;
}

/* IMAGE SECTION */
.chef-img-wrapper {
  position: relative;
}

.chef-img {
  width: 50%;
  border-radius: 16px;
}

/* YEARS BADGE */
.years-badge {
  position: absolute;
  top: 20px;
  left: 300px;
  background-color: #e64a19;
  color: white;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  width: 150px;
}

.years-number {
  font-size: 26px;
  font-weight: 700;
}

.years-text {
  font-size: 13px;
  line-height: 16px;
}

/* TEXT CONTENT */
.chef-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}

.chef-subtitle {
  color: #e64a19;
  font-size: 18px;
  margin-bottom: 20px;
}

.chef-desc {
  color: #555;
  margin-bottom: 15px;
  font-size: 16px;
}

/* AWARDS */
.award-section {
  margin-bottom: 25px;
}

.award-icon {
  color: #ff9800;
}

.award-text {
  font-size: 15px;
}

/* QUOTE BOX */
.quote-card {
  background: #fff5ef;
  border-left: 6px solid #ff7043;
  margin-bottom: 25px;
  border-radius: 12px;
}

.quote-text {
  font-style: italic;
  margin-bottom: 10px;
  color: #444;
}

.quote-author {
  font-weight: 600;
}

/* BUTTONS */
.chef-buttons {
  margin-top: 20px;
}

.primary-btn {
  background-color: #ff7043 !important;
}

.secondary-btn {
  border-color: #ff7043 !important;
  color: #ff7043 !important;
}

.secondary-btn:hover {
  background-color: #fff0e8 !important;
}
